# tools/user/drivers/48-stm.rules
#
# Linux udev rules for STM32 Virtual COM Port
#
# Copyright 2013 Rice University.
#
# This file is part of the Owl Embedded Python System and is provided under
# the MIT open-source license. See the LICENSE and COPYING files for details
# about your rights to use, modify, and distribute Owl.

# JTAG/SWI interface
SUBSYSTEM=="usb",ATTR{idVendor}=="0483",ATTR{idProduct}=="3748",MODE:="0666"

# USB Virtual COM Port
SUBSYSTEM=="usb",ATTR{idVendor}=="0483",ATTR{idProduct}=="5740",MODE="0666", SYMLINK+="mcu"

