#Luminary Micro

# programming board
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="bcda", MODE:="0666"

# usb port
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1cbe", ATTRS{idProduct}=="0042", MODE:="0666", SYMLINK+="mcu"
