# platform/stellaris/programmer/programmer.local.example
#
# Defines the location of OpenOCD.
#
# Copyright 2013 Rice University.
#
# This file is part of the Owl Embedded Python System and is provided under
# the MIT open-source license. See the LICENSE and COPYING files for details
# about your rights to use, modify, and distribute Owl.

INSTALLED_OPENOCD=true
TIVA_ICDI=true
OPENOCD_LOCATION=/home/twb/Downloads/openocd-0.6.0

